:root {
  --rojo: #C13135;
  --amarillo: #FBB547;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background-image: url(./Images/Fondo.jpg);
  background-attachment: scroll;
  background-repeat: repeat-y;
  background-size: 100%;
  font-family: 'Rancho', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 62.5%;
  color: white;
}
h1 {
  font-size: 5.2rem;
  line-height: 79px;
}
h2 {
  font-size: 3.0rem;
  line-height: 45px;
}
p {
  font-size: 1.8rem;
  line-height: 22px;
}
li {
  font-size: 2.2rem;
  line-height: 27px;
  list-style: none;
}
.elemento-largo {
  font-size: 1.8rem;
}
header{
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
header .header-barra {
  display: flex;
  justify-content: center;
}
.barra-amarilla {
  position: absolute;
  width: 100%;
  height: 56px;
  top: 69px;
  background-color: var(--amarillo);
}
.fondo-rojo {
  background-color: var(--rojo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 60%;
  min-width: 192px;
  max-width: 228px;
  border-radius: 23px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fondo-rojo img {
  width: 100%;
  height: auto;
  padding: 5px 20px;

}
.header-title {
  position: absolute;
  width: 152px;
  height: 80px;
  left: calc(50% - 152px/2);
  top: 187px;
}
.header-title h1 {
  margin: 8px 12px;
  text-align: center;
}
.header-title span {
  position: absolute;
  width: 152px;
  height: 0px;
  bottom: 0px;
  border: 1px solid var(--amarillo);
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
}
main {
  display: flex;
  flex-wrap: wrap;
}

main .container {
  width: 300px;
  min-width: 300px;
  background-color: var(--rojo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  margin: 10px 0;
  padding: 15px 10px;
  display: flex;
  flex-wrap: wrap;
}

main .container-img {
  width: 300px;
  min-width: 300px;
  background-color: none;
  border-radius: 36px;
  margin: 10px 16px;
}
.container-img img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 .container p { /*Estos son los comentarios con * */
  text-align: center;
  position: relative;
  width: 131px;
  height: 22px;
  left: calc(50% - 131px/2);
}

.product-title  {
  position: absolute;
  width: 200px;
  height: 42px;

}
.linea-amarilla {
  position: absolute;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  top: 35px;
  background-color: var(--amarillo);
}
.product-title h2 {
  position: absolute;
  width: 100%;
  height: 36px;
  text-align: center;
}

.item-producto-gde-ch {
  width: 60%;
  height: auto;
  margin-top: 77px;
  bottom: 0;
}

.precio-gde, .precio-ch {
  width: 20%;
  height: auto;
  margin-top: 50px;
}

.precio-gde, .precio-ch ul {
  text-align: center;
}

.cocolainas img {
  position: absolute;
  width: 180px;
  height: 55.54px;
}
.cocolainas-precios-normal, .cocolainas-precios-minis ul {
  text-align: center;
}

.cocolainas-productos {
  width: 60%;
  height: auto;
  margin-top: 92px;
  bottom: 0;
}
.cocolainas-precios-normal, .cocolainas-precios-minis {
  width: 20%;
  height: auto;
  margin-top: 65px;
}

.item-producto {
  width: 70%;
  height: auto;
  margin-top: 50px;
  bottom: 0;
}
.precio-gral {
  width: 30%;
  height: auto;
  margin-top: 50px;
}

.precio-gral ul {
  text-align: center;
}

.precio-gral-largo ul {
  text-align: center;
}

.item-producto-largo {
  width: 80%;
  height: auto;
  margin-top: 50px;
  bottom: 0;
}
.precio-gral-largo {
  width: 20%;
  height: auto;
  margin-top: 50px;
}
li span {
  font-size: 1.8rem;
  line-height: 22px;
}

.snacks-subtitle {
  position: relative;
  width: 160px;
  height: 42px;
}

.snacks-subtitle h2 {
  position: absolute;
  width: 100%;
  height: 36px;
  text-align: center;
}
.alitas-productos {
  width: 80%;
  height: auto;
  margin-top: 10px;
  bottom: 0;
}
.alitas-precios-normal {
  width: 20%;
  height: auto;
  margin-top: 10px;
}

.bebidas-precios-normal, .alitas-precios-normal ul {
  text-align: center;
  font-size: 1.8rem;
}

.bebidas-precios-normal li {
  font-size: 1.8rem;
}

.bebidas-productos {
  width: 60%;
  height: auto;
  margin-top: 50px;
  bottom: 0;
}
.bebidas-precios-normal {
  width: 40%;
  height: auto;
  margin-top: 50px;
}

.bebidas-subtitle {
  position: relative;
  width: 250px;
  height: 42px;
}

.bebidas-subtitle h2 {
  position: absolute;
  width: 100%;
  height: 36px;
  text-align: center;
}
.miches-productos {
  width: 60%;
  height: auto;
  margin-top: 36px;
  bottom: 0;
}
.miches-precios-normal, .miches-precios-minis {
  width: 20%;
  height: auto;
  margin-top: 10px;
}

.debajo-grande {
  padding-top: 55px;
}
.cheves-productos {
  width: 80%;
  height: auto;
  margin-top: 20px;
  bottom: 0;
}
.cheves-precios-normal {
  width: 20%;
  height: auto;
  margin-top: 20px;
}

.cheves-productos span {
  font-size: 2.0rem;
  line-height: 22px;
}
.bebidas-img {
  display: flex;
  flex-wrap: wrap;
}
.subcontainer-img {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.bebidas-img img {
  height: auto;



}
.bebidas-img .bebidas-img-1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bebidas-img .bebidas-img-2 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.extra span {
  font-size: 2.0rem;
}

footer {
  background-color: var(--amarillo);
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

footer section {
  background-color: var(--rojo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: auto;
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px 18px;
}

.footer-container {
  width: 50%;  
}
.domicilio ul {
  padding: 0px 9px;
}

.domicilio {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.domicilio li {
  font-size: 1.6rem;
  line-height: 22px;
}
.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.redes span {
  text-align: center;
  font-size: 1.6rem;
  line-height: 22px;
}
.footer-logos {
  display: flex;
  flex-wrap: wrap;
  height: 29px;
  width: auto;
}
footer img {
  width: 29px;
  height: 29px;
  margin: 0 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
footer span {
  font-size: 1.6rem;
  line-height: 22px;
}

@media (min-width:600px) {
  .tortas-sec .container {
    flex-direction: row;
  }
  .bebidas-img {
    box-shadow: none !important;
    flex-direction: column;
    max-width: 450px;
    height: 773px;
  }
  .subcontainer-img {
    justify-content: center;
    height: 50%;
    width: 100%;
    padding: 6px 0px;
    
  }
  .bebidas-img .bebidas-img-1 {
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .bebidas-img .bebidas-img-2 {
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  footer .domicilio ul {
    padding: 0px 9px;
    align-items: center;
  }
}
@media (min-width:1280px) {
  .tortas-sec {
    width: 50%;
  }
  .cocolainas-sec {
    width: 50%;
  }
  .papas-sec {
    width: 100%;
  }
  .quesadillas-sec {
    width: 50%;
  }
  .tacos-sec {
    width: 50%;
  }
  .tostadas-sec, .cocteles-sec {
    width: 50%;
  }
  .snacks-sec {
    width: 25%;
  }
  .bebidas-sec {
    width: 50%;
  }
  .postres-sec {
    width: 25%;
  }
}